body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #FFC000;
    padding: 10px;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.social-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-links li {
    margin-right: 20px;
}

.social-links li:last-child {
    margin-right: 0;
}

.logo img {
    height: 80px;
    width: auto;
}

@media screen and (max-width: 768px) {
    .logo img {
        height: 40px;
    }
}

.cv-button {
    background-color: #B9D7E3;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .cv-button {
        font-size: 14px;
        padding: 5px 10px;
    }
}

.banner {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('https://unsplash.com/photos/m_HRfLhgABo/download?force=true&w=1920');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FF9800;
  opacity: 0.5;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  text-align: center;
  color: white;
  z-index: 1;
}

.banner-text h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.banner-text p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  padding: 14px 32px;
  border-radius: 4px;
  background-color: #B9D7E3;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.text-image-section {
  background-color: #FFFFFF;
  padding: 60px 0;
}

.text-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image-container {
  flex: 1;
  max-width: 40%;
  margin-left: 40px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.text-container {
  flex: 1;
  max-width: 50%;
  text-align: center;
}

.text-container h2 {
  margin-top: 0;
}

.text-container p {
  margin-bottom: 30px;
}

.contact-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #B9D7E3;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #8bb1c8;
}

.services {
  background-color: #F1A278;
  padding: 50px 0;
}

.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.service-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  max-width: 350px;
}

.service-img img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
}

.service-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  height: 300px;
}

.service-title {
  font-size: 24px;
  margin-bottom: 10px;
  height: 50px; 
}

.service-description {
  font-size: 18px;
  margin-bottom: 20px;
  height: 150px; 
  overflow: hidden;
}

.service-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #B9D7E3;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  line-height: 40px;
}

.testimonials {
  background-color: #54A99D;
  color: #FFFFFF;
  padding: 50px 0;
}

.testimonial {
  max-width: 700px;
  margin: 0 auto;
  text-align: justify;
}

.quote {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 20px;
}

.by {
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .testimonial {
    text-align: left;
  }
}

.gallery {
  background-color: #F17F42;
  padding: 50px;
}

.gallery-heading {
  text-align: left;
  margin-bottom: 20px;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
  cursor: pointer;
}

.gallery-container img:hover {
  opacity: 0.8;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.fullscreen img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  border-radius: 30px;
}

.fullscreen img:hover {
  opacity: 1;
}

.location {
  background-color: #FFFFFF;
  padding: 50px;
}

.location-heading {
  text-align: left;
  margin-bottom: 20px;
}

.location-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-info {
  flex: 1;
  margin-right: 50px;
}

.location-info p {
  margin-top: 0;
}

.location-map {
  flex: 1;
  border-radius: 30px;
  overflow: hidden;
}

.location-map iframe {
  border: none;
}

.map-marker-icon {
  background-color: #03A9F4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: -25px;
  left: -25px;
}

.map-marker-icon:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid #03A9F4;
}

@media screen and (max-width: 768px) {
  .location-container {
    flex-direction: column;
  }

  .location-info,
  .location-map {
    margin: 0;
    width: 100%;
  }
}
.contact {
  background-color: #B9D7E3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.contact-content {
  width: 45%;
}

.contact-content h2 {
  font-weight: bold;
}

.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group .form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.form-group .form-input label {
  width: 100%;
  margin-bottom: 5px;
}

.form-group .form-input input,
.form-group .form-input textarea {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  resize: vertical;
  height: 1em;
  background-color: #f1f1f1;
}

.form-group.form-group-flex {
  flex-direction: row;
  justify-content: space-between;
}

.form-input-email {
  margin-left: 10px;
}

button[type="submit"] {
  background-color: #03A9F4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  max-width: 150px;
}

button[type="submit"]:hover {
  background-color: #0288D1;
}

footer {
  background-color: #2B3648;
  color: #fff;
  padding: 50px 0;
  width: 100%;
}

.footer-img {
  display: block;
  margin: 0 auto;
  width: 300px;
}

@media only screen and (max-width: 768px) {
  .footer-img {
    max-width: 40px;
  }
}

.footer-menu {
  text-align: center;
  margin-top: 20px;
}

.footer-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links li a img {
  vertical-align: middle;
}

footer a[href="#top"] {
  color: white;
}
